In [1]:
import pandas as pd
import os

from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, f1_score, precision_score, recall_score
from sklearn import metrics

In [3]:
df = pd.read_csv("C:/__MeineDaten/BankChurn/data/churn_modelling.csv")
df = df.drop(["RowNumber", "CustomerId", "Surname"], axis=1)
df = df.replace(
    {"Geography" : {"Germany" : 0,
                    "France" : 1,
                    "Spain" : 2 },
     "Gender" : {"Female" : 0,
                 "Male" : 1}
    }
)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,1,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,1,0,42,8,159660.80,3,1,0,113931.57,1
3,699,1,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [4]:
X = df.drop(["Exited"], axis=1)
y = df["Exited"]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

X_test.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
5539,614,2,1,39,3,151914.93,1,0,0,56459.45
101,623,1,0,44,6,0.00,2,0,0,167162.43
1078,677,0,0,41,8,146720.98,2,1,1,4195.84
2794,646,1,1,52,8,59669.43,1,0,0,172495.81
9073,702,0,0,60,5,138597.54,2,1,1,41536.59

In [5]:
svc_clf = SVC(kernel="sigmoid")
svc_clf.fit(X_train,y_train)
y_pred= svc_clf.predict(X_test)

In [6]:
print(confusion_matrix(y_test, y_pred))

[[1957  489]
 [ 436  118]]

In [7]:
print(f1_score(y_test, y_pred), precision_score(y_test, y_pred), recall_score(y_test, y_pred))

0.2032730404823428 0.19439868204283361 0.21299638989169675

In [8]:
dtc = DecisionTreeClassifier(max_depth=2)
dtc.fit(X_train,y_train)
y_pred = dtc.predict(X_test)

In [9]:
print(confusion_matrix(y_test, y_pred))

[[2277  169]
 [ 303  251]]

In [10]:
metrics.accuracy_score(y_test, y_pred)

0.8426666666666667

In [11]:
print(f1_score(y_test, y_pred), precision_score(y_test, y_pred), recall_score(y_test, y_pred))

0.5154004106776181 0.5976190476190476 0.45306859205776173